body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
}

main {
  height: 100%;
  width: 100%;
}


aside {
  background-color: black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20%;
  z-index: 1;
  font-family: 'PT Sans', sans-serif;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  /*overflow: hidden;*/
}

label {
  display: inline-block;
  padding: 7px 10px;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  z-index: 3;
  position: fixed;
}

.bar {
  display: block;
  background-color: gray;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  margin: 5px auto;
  transition: background-color .5s ease-in, transform .5s ease-in, width .5s ease-in;
}

.content {
  top: 0;
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  background-image: linear-gradient(#F0D8E3, #ADA0D3);
  background-color: white;
  z-index: 2;
  transition: transform .5s ease-in-out;
  overflow-x:hidden;
}

#horizontal15{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#vertical15{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

hr {
  position: relative;
  border: none;
  height: 12px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-bottom: 50px;
  }

.paragraph{
  /*position: absolute;
  top: 35%;
  left: 50%;*/
  max-width: 400px;
  font-family: 'PT Sans', sans-serif;
}


.asideList {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 100px;
  text-align: center;
  border-top: 2px solid rgba(255, 255, 255, .7);
}

.asideAnchor {
  border-bottom: 2px solid rgba(255, 255, 255, .7);
  padding: 20px 0;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  transition: color .3s .15s ease-in;
}

.asideAnchor::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  background-color: white;
  width: 0;
  transition: width .3s ease-in;
  z-index: -1;
}

.asideAnchor:hover {
  color: black;
}

.asideAnchor:hover::after {
  width: 100%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .content {
  transform: translateX(20%);
}

input[type="checkbox"]:checked ~ label .bar {
  background-color: #fff;
}

input[type="checkbox"]:checked ~ label .top {
  -webkit-transform: translateY(0px) rotateZ(45deg);
  -moz-transform: translateY(0px) rotateZ(45deg);
  -ms-transform: translateY(0px) rotateZ(45deg);
  -o-transform: translateY(0px) rotateZ(45deg);
  transform: translateY(0px) rotateZ(45deg);
}

input[type="checkbox"]:checked ~ label .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

input[type="checkbox"]:checked ~ label .middle {
  width: 0;
}

.middle {
  margin: 0 auto;
}

.ua {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #0799d3;
  font-size: 2em;
  z-index: 2;
}


#carousel,
.carousel-image {
  width: 400px;
  height: 600px;
}

/* Carousel frame setup */

#carousel {
  /*position: absolute;
  top: 30%;
  left: 5%;*/
  /*border: 3px solid blue;*/
  /* Part 2.1: Hide stuff that overflows the box */
  overflow: hidden;
}

/* Images */

#carousel-image-row {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 0px;
  /* Part 2.2: Add transition */
  transition: 0.5s left;
}

.carousel-image img {
  height: auto;
  width: 400px;
  border-radius: 18px;
}

/* Controls */
#carousel-controls{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.hidden {
  visibility: hidden;
}

/*#button-previous,#button-next{
  padding: .5em;
  width: 50px;
  border-radius: 8px;
  font-size: 12px;
  border-color: black;
  border-width: 3px;
  background-color:transparent;
  font-family: 'Karla', sans-serif;
}

#button-previous:hover {
  background-color: #3b92db;
  animation: effect 0.4s infinite;
}
#button-next:hover{
  background-color: #3b92db;
  animation: effect 0.4s infinite;
}*/

button{
  padding: .5em;
  border: 3px solid black;
  border-radius: 8px;
  width: 80px;
  font-size: 20px;
  font-family: 'Karla',sans-serif;
  background: linear-gradient(to right, black 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

button:hover {
  background-position: left bottom;
  animation: effect .5s infinite;
  color: white;
}

@keyframes effect {
            0% {
                transform: translateX(0px);
            }
  
            20% {
                transform: translateX(-4px);
            }
  
            40% {
                transform: translateX(-2px);
            }
  
            60% {
                transform: translateX(4px);
            }
  
            80% {
                transform: translateX(2px);
            }
  
            100% {
                transform: translateX(0px);
            }
            }



h1 {
  text-align: center;
  font-size: 48px;
  color: black;
  font-family: 'Karla';
}

/* CODEPEN FROM PAVEL DER SCHLEIFER DOWNWARD ANIMATION */
#scroll-down::before {
    -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Safari 4+ */
    
    -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Fx 5+ */
    
    -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Opera 12+ */
    
    animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* IE 10+, Fx 29+ */
    
    position: fixed;
    bottom: 0%;
    left: 98%;
    width: 2px;
    height: 50%;
    background: gray;
    content: ' ';
}
@-webkit-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}



