/* General Sidebar and body css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  scroll-behavior: smooth;
}

main {
  height: 100%;
  width: 100%;
}

aside {
  background-color: black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20%;
  z-index: 1;
  font-family: 'PT Sans', sans-serif;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
}

label {
  display: inline-block;
  padding: 7px 10px;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  z-index: 3;
  position: fixed;
}

.bar {
  display: block;
  background-color: black;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  margin: 5px auto;
  transition: background-color .5s ease-in, transform .5s ease-in, width .5s ease-in;
}


/* Everything under the purple gradient */

.content {
  top: 0;
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  background-color: white;
  background-image: linear-gradient(#DBF6F2, #ADA0D3);
  z-index: 2;
  transition: transform .5s ease-in-out;
  overflow: scroll;
}

/*.contentflex{
  display:flex;
  flex-direction: column;

}*/

.center{
  display: block;
  margin-left: auto;
  margin-right:auto;
  margin-top: 5%;
}


/* data science & applied math @ Berkeley */

h2 {
  text-align: center;
  font-size: 28px;
  font-family: 'Karla', sans-serif;
}

/* purple gradient line*/
hr {
  position: relative;
  border: none;
  height: 12px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-bottom: 50px;
  }

/*contact and about me buttons*/
.contact {
  border-width: 3px;
  padding: .5em;
  border: 3px solid black;
  border-radius: 8px;
  width: 150px;
  font-size: 20px;
  font-family: 'Karla',sans-serif;
  background: linear-gradient(to right, black 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.contact:hover {
  background-position: left bottom;
  animation: effect .5s;
  color: white;
}

@keyframes effect {
            0% {
                transform: translateX(0px);
            }
  
            20% {
                transform: translateX(-4px);
            }
  
            40% {
                transform: translateX(-2px);
            }
  
            60% {
                transform: translateX(4px);
            }
  
            80% {
                transform: translateX(2px);
            }
  
            100% {
                transform: translateX(0px);
            }
            }

/*Used to keep the home page in line */
#vertical1{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

#vertical1 img{
  margin-top: 10%;
}

/* used to keep the two buttons in line*/
#horizontal1{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  margin: 30px;
}


/* Hamburger Menu stuff */

.asideList {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 100px;
  text-align: center;
  border-top: 2px solid rgba(255, 255, 255, .7);
}

.asideAnchor {
  border-bottom: 2px solid rgba(255, 255, 255, .7);
  padding: 20px 0;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  transition: color .3s .15s ease-in;
}

.asideAnchor::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  background-color: white;
  width: 0;
  transition: width .3s ease-in;
  z-index: -1;
}

.asideAnchor:hover {
  color: black;
}

.asideAnchor:hover::after {
  width: 100%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .content {
  transform: translateX(20%);
}

input[type="checkbox"]:checked ~ label .bar {
  background-color: #fff;
}

input[type="checkbox"]:checked ~ label .top {
  -webkit-transform: translateY(0px) rotateZ(45deg);
  -moz-transform: translateY(0px) rotateZ(45deg);
  -ms-transform: translateY(0px) rotateZ(45deg);
  -o-transform: translateY(0px) rotateZ(45deg);
  transform: translateY(0px) rotateZ(45deg);
}

input[type="checkbox"]:checked ~ label .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

input[type="checkbox"]:checked ~ label .middle {
  width: 0;
}

.middle {
  margin: 0 auto;
}

.ua {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #0799d3;
  font-size: 2em;
  z-index: 2;
}


/* CODEPEN FROM PAVEL DER SCHLEIFER DOWNWARD ANIMATION */
#scroll-down::before {
    -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Safari 4+ */
    
    -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Fx 5+ */
    
    -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Opera 12+ */
    
    animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* IE 10+, Fx 29+ */
    
    position: fixed;
    bottom: 0%;
    left: 98%;
    width: 2px;
    height: 50%;
    background: gray;
    content: ' ';
}
@-webkit-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}

/*About me */

#horizontal15{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#vertical15{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

#vertical15color{
  background: linear-gradient(90deg, black, transparent);
}

hr {
  position: relative;
  border: none;
  height: 12px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-bottom: 50px;
  }

.paragraph{
  /*position: absolute;
  top: 35%;
  left: 50%;*/
  max-width: 400px;
  font-size: 16;
  font-family: 'PT Sans', sans-serif;
  color: white;
}


#carousel,
.carousel-image {
  width: 400px;
  height: 600px;
}

/* Carousel frame setup */

#carousel {
  /*position: absolute;
  top: 30%;
  left: 5%;*/
  /*border: 3px solid blue;*/
  /* Part 2.1: Hide stuff that overflows the box */
  overflow: hidden;
}

/* Images */

#carousel-image-row {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 0px;
  /* Part 2.2: Add transition */
  transition: 0.5s left;
}

.carousel-image img {
  height: auto;
  width: 400px;
  border-radius: 18px;
}

/* Controls */
#carousel-controls{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.hidden {
  visibility: hidden;
}


button{
  padding: .5em;
  border: 3px solid black;
  border-radius: 8px;
  width: 80px;
  font-size: 20px;
  font-family: 'Karla',sans-serif;
  background: linear-gradient(to right, black 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

button:hover {
  background-position: left bottom;
  animation: effect .5s infinite;
  color: white;
}

@keyframes effect {
            0% {
                transform: translateX(0px);
            }
  
            20% {
                transform: translateX(-4px);
            }
  
            40% {
                transform: translateX(-2px);
            }
  
            60% {
                transform: translateX(4px);
            }
  
            80% {
                transform: translateX(2px);
            }
  
            100% {
                transform: translateX(0px);
            }
            }



h1 {
  text-align: center;
  font-size: 48px;
  color: black;
  font-family: 'Karla';
}

#vertical15 h1{
  color: white;
}

/* Polaroid Section about work begins*/
.vertical16{
  display: flex;
  flex-direction:column;
  justify-content: center;
}
.projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.polaroid{
  background: white;
  padding: 2rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  width: 250px;
  height: auto;
  margin-top: 20px;
}

.polaroid img{
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
  opacity: 50%;

}


.caption{
  text-align: center;
}

.polaroid:hover{
  transform: scale(1.2);
  transition: ease-in-out 1.5s;
  transform-style: preserve-3d;
}

.polaroid img:hover{
  filter: grayscale(0%);
  opacity: 100%;
}

h4{
  font-family: 'Karla',Arial;
  font-size: 25px;
  font-weight: bold;

}

h5{
  font-family: 'Karla',Arial;
  font-size: 17px;
}

/* Contact me begins ! */

.figure {
    display:block;
    position: relative;
    width: 250px;
    height: 250px;
    background: transparent; /*change to transparent*/
    margin-left: 5%;
}

.textbox{
  position: absolute;
  top: 35%;
  height:30%;
  left:2.5%;
  width:92%;
  text-align:center;
  background:#d3d3d3;
  box-shadow: inset 0 0 10px;

}

hr {
  position: relative;
  border: none;
  height: 12px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-bottom: 50px;
  }

.figure img {
    position: absolute;
    top: 0;
    left: 0;
    width:99%;
    height:99%;
    transition: 2s ease-in-out;
}

.figure img:first-of-type {
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}
.figure img:last-of-type {
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}

.figure:hover img:first-of-type {
    transform: scale(1.1) translateY(-13%);
    
}
.figure:hover img:last-of-type {
    transform: scale(1.1) translateY(13%);
    
}

#horizontal2{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  flex-wrap:wrap;
}

#vertical2{
  display:flex;
  flex-direction:column;
  height: 100%;
  width: 100%;
}

h1{
  font-size: 50px;
  text-align:center;
  font-family: 'Karla',Arial;
}

h2{
  font-size: 30px;
  text-align:center;
  font-family: 'Karla',Arial;
}

button{
  position: relative;
  top: 20%;
  padding: .5em;
  border-radius: 8px;
  width: 95%;
  font-size: 18px;
  border-color: black;
  border-width: 3px;
  background-color:transparent;
  font-family: 'Karla', sans-serif;
  background: linear-gradient(to right, black 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

/*button:hover {
  background-color: #3b92db;
 }*/


button:hover {
  background-position: left bottom;
  animation: effect 1s;
  color: white;
  animation: effect 0.4s infinite;
}


@keyframes effect {
            0% {
                transform: translateX(0px);
            }
  
            20% {
                transform: translateX(-4px);
            }
  
            40% {
                transform: translateX(-2px);
            }
  
            60% {
                transform: translateX(4px);
            }
  
            80% {
                transform: translateX(2px);
            }
  
            100% {
                transform: translateX(0px);
            }
            }

h3 {
  margin: 10px;
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  color:black;
}


